<h1 align="center">Listing all articles</h1>

<% @articles.each do |article| %>
  <div class="row">
   <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
     <div class="article-title">
      <%= link_to article.name, @article%>
     </div>
     <div class="article-body">
     <div class="article-meta-details">
     <small>Created by: <%= article.user.name if article.user %>, <%= time_ago_in_words(article.created_at) %> ago, last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
    </div>
     </div>
     <div class="article-actions">
      <%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger" %>
     </div>
    </div>
   </div>
  </div>
 <% end %>