<h2 align="center">Title: <%= @article.name %></h2>
<div class="well col-xs-8 col-xs-offset-2">
 <h4 class="center"><strong>Description:</strong></h4>
 <hr>
 <%= simple_format(@article.description) %><br>
 <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-primary" %> |
 <%= link_to 'Back', articles_path, class: "btn btn-xs btn-success" %>
 <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger" %>